label {
    vertical-align: top;
    }
    table:nth-of-type(2) tr,
    table:nth-of-type(2) td {
    border: 1px solid black;
    border-radius: 0%;
    }
    .p2 {
    vertical-align: top;
    }
    table td:nth-child(3) {
    width: 20%;
    }
    textarea{vertical-align:middle;}